.footer {
    width: 100%;
    background-color: #e0e0e0;
    padding: 20px 30px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .column {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.socialMedia {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.socialMedia>dt {
    display: none;
    padding-right: 10px;
    padding-top: 4px;
    font-size: 22px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    vertical-align: top;
}

.socialMedia>dd {
    display: inline-block;
    padding: 0 30px 10px 5px;
    margin-bottom: 0.5rem;
    margin-inline-start: 0;
}

.socialMedia>dd>a {
    font-family: proxima-nova, sans-serif;
    color: #1d1d1b;
    text-decoration: underline;
}

.accessibility {
    position: absolute;
    left: -999em
}

.footerLinks {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.footerLinks>li {
    display: inline;
    padding-right: 16px;
}

@media (max-width: 768px) {
    .footerLinks>li {
        display: block;
        padding-bottom: 12px;
    }
}

.footerLinks>li>a {
    color: #1d1d1b;
    text-decoration: underline;
    font-size: 1em;
    font-family: proxima-nova, sans-serif;
}

.copyright {
    float: right;
}

@media (max-width: 715px) {
    .copyright {
        float: left;
        padding-top: 10px;
    }
}

@media (max-width: 768px) {
    .copyright {
        display: block;
        padding-bottom: 12px;
    }
}